<app-navbar></app-navbar>
<div class="right-container">
  <div class="selected-course-image-container">
    <img  style="max-height: 40vh" class="selected-course-image" src="assets/course_images/{{selectedCourse.imageName}}">
  </div>
  <h5 style="text-transform: capitalize; font-weight: 700">{{selectedCourse.courseName}}</h5>
  <p>{{selectedCourse.courseDescription}}</p>
  <div class="selected-course-maker">
    <img *ngIf="selectedCourse.user?.userImageName == null" style="margin-right: 5vh; border-radius: 50%; height: 10vh" src="https://i.stack.imgur.com/34AD2.jpg">
    <img *ngIf="selectedCourse.user?.userImageName !== null" style="margin-right: 5vh; border-radius: 50%; height: 10vh" src="assets/user_images/{{selectedCourse.user?.userImageName}}">
    <div class="selected-course-maker-infos">
      <p style="text-transform: capitalize">{{selectedCourse.user?.firstName}} {{selectedCourse.user?.lastName}}</p>
      <p style="color: #777777; font-size: small">Professeur</p>
    </div>
  </div>
  <p style="margin-bottom: 7vh">Lien vers le cours : <a href="#">{{selectedCourse.courseLink}}</a></p>
  <h5 style="font-weight: 700; margin-bottom: 4vh;">Mini-jeux du cours</h5>

  <div class="minigames-container" *ngFor="let item of minigameList; let i = index">
    <div class="minigame-container">
      <div class="minigame-user-record">
        <span>Record : {{selectedMinigameScores[i]}}
        </span>
      </div>
      <div class="minigame-atts">
        <div class="minigame-image-container">
          <img src="assets/plant-icon.png" style="height: 8vh;">
        </div>
        <div class="minigame-infos">
          <p>{{item.description}}</p>
        </div>
      </div>
      <div class="minigame-start">
        <img src="assets/right-arrow.png" style="height: 4vh; cursor: pointer" (click)="gameDetails(item)">
      </div>
    </div>
  </div>

  <div class="memoryGames-container" *ngFor="let item of memoryGameList; let i = index">
    <div class="memoryGame-container">
      <div class="minigame-user-record">
        <span>Record : {{selectedMemoryGameScores[i]}}
        </span>
      </div>
      <div class="memoryGame-atts">
        <div class="memoryGame-image-container">
          <img src="assets/memory.png" style="height: 8vh;">
        </div>
        <div class="memoryGame-infos">
          <p>{{item.description}}</p>
        </div>
      </div>
      <div class="memoryGame-start">
        <img src="assets/right-arrow.png" style="height: 4vh; cursor: pointer" (click)="memoryGameDetails(item)">
      </div>
    </div>
  </div>

  <div class="puzzleGames-container" *ngFor="let item of puzzleGameList; let i = index">
    <div class="puzzleGame-container">
      <div class="minigame-user-record">
        <span>Record : {{selectedPuzzleGameScores[i]}}
        </span>
      </div>
      <div class="puzzleGame-atts">
        <div class="puzzleGame-image-container">
          <img src="assets/crossword.png" style="height: 8vh;">
        </div>
        <div class="puzzleGame-infos">
          <p>{{item.description}}</p>
        </div>
      </div>
      <div class="puzzleGame-start">
        <img src="assets/right-arrow.png" style="height: 4vh; cursor: pointer" (click)="puzzleGameDetails(item)">
      </div>
    </div>
  </div>
</div>
