<app-navbar></app-navbar>
<div class="container-top">
  <div class="user">
    <div class="profile">
      <div class="profile-image">
        <div class="user-level">
          Lv. {{currentUser.userLevel}}
        </div>
        <img *ngIf="currentUser.userImageFile == null" src="https://i.stack.imgur.com/34AD2.jpg" alt="User profile image">
        <img *ngIf="currentUser.userImageFile !== null" [src]="getUserImageURL(currentUser)">
      </div>
      <div class="profile-info" style="text-transform: capitalize">
        <h1>{{currentUser.firstName}} {{currentUser.lastName}}</h1>
        <p>{{currentUser.grade}}</p>
      </div>
    </div>
    <div class="experience-points">
      <div class="container-exp">
        <div class="skills level" [style.width.%]="experiencePercentage">{{experiencePercentage.toFixed()}}%</div>
      </div>
      <div class="remaining-exp">
        <b>{{this.getRemainingExperience()}} points</b> pour atteindre le niveau prochain
      </div>
    </div>
  </div>

  <div class="activity">
    <img class="activity-image" src="/assets/man-reading-book-character-illustration-free-vector.png" style="height: 225px">
    <h2>Votre activité</h2>
    <div class="activity-stats">
      <div class="activity-stats-left">
        <div class="activity-stat">
          <img class="activity-stat-image icon" src="/assets/apprentissage-en-ligne.png">
          <div class="activity-stat-data">
            <p class="activity-stat-data-number">3</p>
            <p class="activity-stat-data-title">Cours terminés</p>
          </div>
        </div>
        <div class="activity-stat">
          <img class="activity-stat-image icon" src="/assets/joypad.png">
          <div class="activity-stat-data">
            <p class="activity-stat-data-number">12</p>
            <p class="activity-stat-data-title">Mini-jeux joués</p>
          </div>
        </div>
      </div>
      <div class="activity-stats-right">
        <div class="activity-stat">
          <img class="activity-stat-image icon" src="/assets/star%20(1).png">
          <div class="activity-stat-data">
            <p class="activity-stat-data-number">{{currentUser.experiencePoints}}</p>
            <p class="activity-stat-data-title">Points obtenus</p>
          </div>
        </div>
        <div class="activity-stat">
          <img class="activity-stat-image icon" src="/assets/podium.png">
          <div class="activity-stat-data">
            <p class="activity-stat-data-number">{{getUserIndex(firstAllUsers, currentUser.username)+1}}</p>
            <p class="activity-stat-data-title">Classement</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content">
  <div class="courses">
    <h2 class="courses-title">Derniers cours</h2>
    <div class="courses-container">
      <div class="course-container" *ngFor="let item of getLastEightItems().reverse()">
        <img (click)="goToSelectedCourse(item)" class="course-container-image" [src]="getCourseImageURL(item)" (click)="goToSelectedCourse(item)">
        <div class="course-container-title">
          {{item.courseName}}
        </div>
      </div>
    </div>
  </div>
  <div class="classement">
    <h2 class="classement-title">Classement <img class="icon" style="margin-top: -25px" src="/assets/podium%20(1).png"></h2>
    <div class="classement-container">
      <div class="rank-1">
        <div class="classement-container-rank-1-crown">
          <img class="icon" src="/assets/king.png">
        </div>
        <div class="classement-container-rank-1-image">
          <img *ngIf="firstThreeUsers[0].userImageFile == null" src="https://i.stack.imgur.com/34AD2.jpg">
          <img *ngIf="firstThreeUsers[0].userImageFile !== null" [src]="getUserImageURL(firstThreeUsers[0])">
        </div>
        <p class="classement-container-rank-1-image-name">{{firstThreeUsers[0].firstName}} {{firstThreeUsers[0].lastName}}</p>
        <div class="classement-container-rank-1-level"> Lv. {{firstThreeUsers[0].userLevel}}</div>
        <div class="classement-container-rank-1-points"> {{firstThreeUsers[0].experiencePoints}} <img style="height: 15px; margin-top: -5px" src="/assets/star%20(2).png"></div>
      </div>
      <div *ngIf="firstThreeUsers.length > 1" class="rank-2">
        <div class="classement-container-rank-2-crown">
          <img style="height: 40px" src="/assets/two.png">
        </div>
        <div class="classement-container-rank-2-image">
          <img *ngIf="firstThreeUsers[1].userImageFile == null" src="https://i.stack.imgur.com/34AD2.jpg">
          <img *ngIf="firstThreeUsers[1].userImageFile !== null" [src]="getUserImageURL(firstThreeUsers[1])">
        </div>
        <p class="classement-container-rank-2-image-name">{{firstThreeUsers[1].firstName}} {{firstThreeUsers[1].lastName}}</p>
        <div class="classement-container-rank-2-level"> Lv. {{firstThreeUsers[1].userLevel}}</div>
        <div class="classement-container-rank-2-points"> {{firstThreeUsers[1].experiencePoints}} <img style="height: 15px; margin-top: -5px" src="/assets/star%20(2).png"></div>
      </div>
      <div *ngIf="firstThreeUsers.length > 2" class="rank-3">
        <div class="classement-container-rank-3-crown">
          <img style="height: 40px" src="/assets/3.png">
        </div>
        <div class="classement-container-rank-3-image">
          <img *ngIf="firstThreeUsers[2].userImageFile == null" src="https://i.stack.imgur.com/34AD2.jpg">
          <img *ngIf="firstThreeUsers[2].userImageFile !== null" [src]="getUserImageURL(firstThreeUsers[2])">
        </div>
        <p class="classement-container-rank-3-image-name">{{firstThreeUsers[2].firstName}} {{firstThreeUsers[2].lastName}}</p>
        <div class="classement-container-rank-3-level"> Lv. {{firstThreeUsers[2].userLevel}}</div>
        <div class="classement-container-rank-3-points"> {{firstThreeUsers[2].experiencePoints}} <img style="height: 15px; margin-top: -5px" src="/assets/star%20(2).png"></div>
      </div>
    </div>
  </div>
</div>

