<app-navbar></app-navbar>
<h1>This is a superadmin</h1>
<div class="container">
  <div class="pt-5">


    <div class="card">
      <div class="card-header">
        <h3>All Users</h3>
      </div>

      <div class="card-body">
        <table class="table table-striped">

          <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Role</th>
            <th scope="col">Detail</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of userList; index as ind">
            <th scope="row">{{ind + 1}}</th>
            <td>{{item.firstName}}</td>
            <td>{{item.username}}</td>
            <td>{{item.locked ? 'Locked' : 'Unlocked'}}</td>
            <td>
              <button class="btn btn-info" (click)="detail(item)">Detail</button>
            </td>
            <td>
              <button class="btn btn-info" (click)="deleteUser(item.id)">Delete</button>
            </td>
            <td>
              <button class="btn btn-info" *ngIf="!item.locked" (click)="lockUser(item.id)">Lock</button>
              <button class="btn btn-info" *ngIf="item.locked" (click)="unlockUser(item.id)">Unlock</button>
            <!--</td>
            <td>
              <ui-switch [disabled]="isSuperAdmin(item.id)" [checked]="isAdmin(item.id)" (change)="changeRole(item.id)"></ui-switch>
            </td>-->
            <td>{{item.role}}</td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>

  </div>
</div>
